*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body{
    background-color:floralwhite;
    transition: 0.6s ease-in-out;
    
}






.home, .about, .socials,.photos, .contact{
    margin-bottom: 220px;
}



html{
    scroll-behavior: smooth;
}


.burger{
    position: relative;
    right: 10px;
    
    
}

.fa-bars, .fa-times{
    display: flex;
    font-size: 25px;
    padding: 12px;
    color: dodgerblue;
}

#fa-times{
    display: none;
    z-index: 4;
}

.times{
    position: relative;
    top: 0px;
}

.mobile-menu a{
    text-decoration: none;
     color: rgba(255, 255, 255, 0.322);
}

.mobile-menu li:hover, .mobile-menu a:hover, .mobile-menu li:active, .mobile-menu a:active{
    color:honeydew;

}

.mobile-menu{
    
    position: relative;
    background-color: #2f4858; 
    width: 100vw;
    text-align: center;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex ;
    z-index: 4;
    transition: 0.6s ease-in-out;
    scroll-behavior: smooth;
    width: 0;

    

    
   
}

.mobile-menu ul{
    text-align: center;
    width: 200px;
    position: relative;
    left: 19%;
    
    
}

.mobile-menu li,.mobile-menu a{
    padding: 30px 20px;
    color: rgba(255, 255, 255, 0.342);
    font-family: open sans;
    text-align: center;
    transition: 0.6s ease;
    margin: auto !important;
    
    
}

.menu-times .fa-times{
    font-size: 20px!important;
    font-weight: 0;
}

.logo h1{
   font-size:30px;
   padding: 12px;
   color: dodgerblue;
  
}

.header{
    user-select: none;
    transition: 0.6s ease-in-out;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    /* background-color: #112a3a; */
    /* background-color: dodgerblue; */
    background-color: floralwhite;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100vw;
}

#home, #about{
    text-align: center;
    padding-bottom: 70px;
    height: auto;

   
}

.home h1{
    padding: 25px;
    font-size: 40px;
    color: #3b95cc;
    margin-top: 100px;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-style: italic;
    font: bold;
    transition: 0.6s ease-in-out;
    user-select: none;
}

.about h3{
    color: floralwhite;
    font-family: cursive;
}

.home h2, .about h2, .photos h2, .socials h2 , .contact h2{
    padding: 25px;
    padding-bottom: 2px !important;
    font-size: 30px;
    color: #478bb6;
    margin-top: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 7px solid #2f4858;
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px ;
}
.home em, .about em{
    font-size: 17px;
    
}

.home p, .about p{
     font-size: 17px;
     font-family: sans-serif ;
     margin: auto 20px;
     line-height: 40px;
     font-weight: 500;
     color: slategrey;
     margin-left:  40px;
    margin-right: 40px

}


.homebutton{
    margin-top: 40px;
    color: white;
    font-size: 20px;
    background-color: dodgerblue;
    padding: 20px;
    border: none;
    font-weight: 600;
    border-radius: 5px;

}



.photos{
    
    margin-bottom: 100px;
    text-align: center;
}

.photosub{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}




.imageframe{
    margin-bottom: 100px;
}

.imageframe img{
    width: 300px;
    height: 300px;
    border: 5px solid white;

}

.imageframe img:hover{
    opacity: 0.9;
    width: 350px;
    height: 350px;
    transition: 0.4s ease-in-out;
}









.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}

.socials .fab{
    font-size: 250px;
    margin-bottom: 300px;
}

.fa-instagram{
    color: rgb(236, 22, 140);
}

.fa-twitter{
    color: dodgerblue;
}

.fa-github{
    color: peru;
}

.fa-whatsapp{
    color: rgb(72, 235, 72);
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .container label{
      color: dodgerblue
  }
  
  input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0a0513;
    transition: 0.6s ease;
  }
  
  .container {
    border-radius: 5px;
    background-color: inherit;
    padding: 20px;
  }

  .copyright{
      background-color: black;
      padding-bottom: 200px;
  }

  .copyright h6{
      text-align: center;
      font-size: 15px;
      color: dodgerblue;
      position: relative;
      top: 50px;
  }

  .copyright .fas{
      font-size: 50px;
      color: dodgerblue;
      
      
      
  }

  .backtotop{
    position: relative;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: 10px;
  }




@media (min-width: 600px) {

    .photosub{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        overflow-x: scroll;
    }
    
    .imageframe{

       

        margin: auto;

    
    

    }
    
    
}